<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>About</title>
</head>
<body>
    <p>Hello, my name is Anatoliy. You can call me a Brick. I am thirty years old. I like playing guitar (i own sevenstring guitar), and throw knives, and shoot a bow.
        Also i like videogames and write a code on a Python, it's my first language and it's amazing.</p>
</body>
</html>